<main>
  <!-- Index -->
  <section id="capa" class="container-fluid vh-100">
      <div class="row py-4">
        <div class="col-12">
          <!-- jumbotron -->
          <div class="jumbotron jumbotron-fluid text-center">
              <div class="container py-5">
                <h1 class="display-4">Index</h1>
                <p class="lead">This is a modified jumbotron that occupies the
                  entire horizontal space of its parent.</p>
              </div>
            </div>
          </div>
          <!-- jumbotron end-->
      </div>
  </section>
  <!-- Sevicos -->
  <section id="servicos"  class="container-fluid vh-100">
      <div class="container">
        <!-- jumbotron -->
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container py-5">
              <h1 class="display-4">Serviços</h1>
              <p class="lead">This is a modified jumbotron that occupies the
                entire horizontal space of its parent.</p>
            </div>
          </div>
        </div>
        <!-- jumbotron end-->
      </div>
  </section>
  <!-- Sobre -->
  <section id="sobre" class="container-fluid vh-100">
      <div class="row">
        <div class="col-6 vh-100" style="background: #ABB2B9"></div>
        <div class="col-6 p-5">
          <div class="jumbotron jumbotron-fluid">
              <div class="container py-4">
                <h1 class="display-4 pb-4">Sobre</h1>
                <p class="lead">This is a modified jumbotron that occupies the
                  entire horizontal space of its parent.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- END -->
</main>
