<main>
  <!-- Sobre -->
  <section id="capa" class="container-fluid pt-4">
      <div class="row py-4">
        <div class="col-12">
          <!-- jumbotron -->
          <div class="jumbotron jumbotron-fluid">
              <div class="container py-5">
                <h1 class="display-4">Sobre</h1>
                <p class="lead">This is a modified jumbotron that occupies the
                  entire horizontal space of its parent.</p>
              </div>
            </div>
          </div>
          <!-- jumbotron end-->
      </div>
  </section>
  <!-- Page -->
  <section class="container-fluid vh-100 p-4">
    <h3>Sobre</h3>
  </section>
  <!-- End -->
</main>
